{% extends 'layout.html' %}

{% block content %}

<!-- 
    {% load static %}
 -->

<!-- Hero Section -->
<header class="row bg-black">
    <div class="col-md-4">
        <img src="{% static 'portfolio/icon.jpg' %}" alt="">
    </div>
    <div class="col-md-8 my-auto">
        <h1>I am <strong>Luis Santamaria</strong></h1>
        <h3>Python FullStack Developer</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, nesciunt? Sit deserunt non sed possimus
            voluptatibus nulla tenetur, illum vel officia omnis cum laboriosam optio ea fugit culpa et beatae facilis
            sapiente. Vitae esse, molestias est laboriosam numquam id dicta nobis sequi, distinctio adipisci accusantium
            quam, exercitationem recusandae iusto cum eaque. Ut fugiat iure ipsa eos consequatur provident saepe, nihil,
            perferendis iste quos corporis fuga corrupti tenetur! Doloremque, eius? Voluptatem modi necessitatibus rerum
            suscipit ipsam omnis architecto. Ratione explicabo accusamus vel vitae provident recusandae ducimus soluta
            similique fugit minus eaque repellendus doloremque, enim fuga. In sit ad vitae labore itaque!</p>
        <a href="{% static 'portfolio/Luis_Santamaria_Resume.pdf' %}"
            class="btn btn-primary btn-lg rounded-0 my-3">Download CV</a>
    </div>
</header>

<!-- Portfolio Section -->
<div class="row my-4 text-center">

    <h3>My Projects</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, repudiandae!</p>

    {% for project in projects %}
    <div class="col-md-4 p-4">  
        <div class="card bg-black card-project">
            <img src="{{ project.image.url }}" alt="{{ project.title }}" class="card-img-top">

            <div class="card-body ">

                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>

                {% if project.url %}
                <a href="{{ project.url }}" class="btn btn-light rounded-0 btn-sm" target="_blank" rel="noreferrer">View Project</a>
                {% endif %}
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}